h3 {
  color: white;
  text-align: center;
  font-weight: 400%;
}

.form-control {
  border: none;
  border-radius: 5px !important;
  color: white;
  background: #252433;
}

.form-control:focus {
  color: white;
  background-color: #232233 !important;
}

.rbt-menu {
  color: white;
  background-color: none !important;
}

.rbt-menu a {
  color: white;
}

.rbt-menu a :focus {
  color: red;
}

#licenceNumber {
  width: 115px;
  display: none;
  border: 2px solid red;
}

#imageUpload {
  margin-left: 25px;
  border: 2px solid rgb(105, 231, 189);
  color: white;
  border-radius: 25px;
  text-align: right;
}

#submitButton {
  border: 2px solid greenyellow;
  background: #42d97c;
  color: white;
  border-radius: 25px;
  text-align: right;
}

#submitButton:disabled {
  border: 2px solid rgb(82, 82, 82);
  background: rgb(82, 82, 82);
  color: white;
  border-radius: 25px;
  text-align: right;
}

#buttonGroup {
  text-align: right;
}
