.printButton {
  background: none;
}

#reloadButton {
  border-radius: 100%;
  color: black;
  background: greenyellow;
  border: none;
}

#regoSearch {
  width: 40% !important;
  margin-right: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  color: white;
}

input#flatpickr {
  width: 20%;
  margin-right: 10px;
}

.dashboard-table {
  margin-top: 20px;
}

.dashboard-table,
tr {
  width: 100%;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid black;
}
