@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
  justify-content: center;
  font-family: "Nunito", sans-serif;
  background: #16151f;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 500px) and (max-width: 992px) {
  body {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    display: flex;
  }
}
