@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
  justify-content: center;
  font-family: "Nunito", sans-serif;
  background: #16151f;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
